*,
*:after,
*:before {
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: $sm;
  color: $black;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", "Garamond", serif;
}

a,
a:after {
  transition: all 0.2s ease-in-out;
}

input,
button {
  font-size: $sm;
  transition: all 0.2s ease-in-out;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit {
  color: $gray !important;
}

h1 {
  font-size: $xl;
}

h2 {
  font-size: $lg;
}

h3 {
  font-size: $md;
}

p {
  color: $gray;
  line-height: 1.5;
}

a {
  inline-size: max-content;
  display: block;
  text-decoration: none;
  color: $blue;
}

button {
  background: transparent;
}

fieldset {
  border: none;
}

ul {
  list-style: none;
}

img {
  max-inline-size: 100%;
}

section:not(section:first-of-type) {
  padding-block: 8.13%;
}

main {
  padding: 8.53% 10.6%;
}
