@media only screen and (min-width: 48em) {
  section {
    padding-block: 2.87%;
  }

  .navbar {
    padding: 1.11% 4.44%;
  }

  .navbar__toggle {
    display: none;
  }

  .navbar__toggle[aria-expanded="true"] ~ .navbar__menu {
    inline-size: max-content;
    position: static;
    flex-direction: row;
    align-items: center;
  }

  .container {
    padding: 2.87% 11.31%;
  }

  .about {
    justify-content: space-evenly;
    align-items: center;
  }
}

@media only screen and (min-width: 90em) {
  .about__photo {
    inline-size: auto;
    aspect-ratio: 1;
  }

  .about__story {
    max-inline-size: 45ch;
  }
}
