.field__input--invalid {
  border-color: $red;
}

.popup--success {
  border: 2px solid lightgreen;

  > .popup__message {
    color: lightgreen;
  }
}

.popup--error {
  border: 2px solid $red;

  > .popup__message {
    color: $red;
  }
}
