@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Open+Sans:wght@400;500&display=swap"); /* Colors */
/* Font Sizing */
/* 16.00px → 18.00px */
/* 24.00px → 32.00px  */
/* 32.00px → 36.00px  */
/* 36.00px → 48.00px  */
*,
*:after,
*:before {
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: clamp(1rem, 0.96rem + 0.19vw, 1.13rem);
  color: #161616;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", "Garamond", serif;
}

a,
a:after {
  transition: all 0.2s ease-in-out;
}

input,
button {
  font-size: clamp(1rem, 0.96rem + 0.19vw, 1.13rem);
  transition: all 0.2s ease-in-out;
}

h2 {
  font-size: clamp(2rem, 1.91rem + 0.38vw, 2.25rem);
  text-align: center;
  margin-inline: auto;
}

h1,
h3 {
  font-size: clamp(1.5rem, 1.32rem + 0.75vw, 2rem);
}

p {
  color: #888888;
  line-height: 1.5;
}

a {
  inline-size: -moz-max-content;
  inline-size: max-content;
  display: block;
  text-decoration: none;
  color: #4361ee;
}

button {
  background: transparent;
}

fieldset {
  border: none;
}

ul {
  list-style: none;
}

img {
  max-inline-size: 100%;
}

section:not(section:first-of-type) {
  padding-block: 8.13%;
}

main {
  padding: 8.53% 10.6%;
}

form {
  inline-size: -moz-max-content;
  inline-size: max-content;
  margin: 0 auto;
}

.button--outline {
  padding: 0.875rem 1.25rem;
  border: 2px solid #4361ee;
  color: #4361ee;
  font-weight: 500;
}
.button--outline:hover, .button--outline:focus {
  background: #4361ee;
  color: #ffffff;
}

.card {
  inline-size: clamp(290px, 27.7%, 325px);
  padding: 1.5rem;
  border: 2px solid #4361ee;
}

.card__title {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.card__thumbnail {
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__price {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  color: #4361ee;
  font-weight: 500;
}

.field {
  inline-size: 290px;
}

.field__input {
  display: block;
  inline-size: 100%;
  padding: 1rem;
  margin-block: 0.25rem;
  border: 2px solid #888888;
  outline: none;
}
.field__input:focus {
  border-color: #4361ee;
}

.field__message {
  color: #ef233c;
}

/* Colors */
/* Font Sizing */
/* 16.00px → 18.00px */
/* 24.00px → 32.00px  */
/* 32.00px → 36.00px  */
/* 36.00px → 48.00px  */
@keyframes slidedown {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}
.popup {
  position: fixed;
  top: 2%;
  left: 0;
  right: 0;
  z-index: 1;
  max-inline-size: 300px;
  margin-inline: auto;
  padding-inline: 1rem;
  border: 2px solid #4361ee;
  font-weight: 900;
  background: #ffffff;
  transition: all 0.2s;
}
.popup, .popup--success, .popup--error {
  animation: 1s forwards slidedown;
}
.popup__message {
  color: #4361ee;
}

.navbar {
  position: sticky;
  inset: 0 0 auto;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.navbar__brand {
  color: inherit;
}

.navbar__menu {
  display: none;
}

.navbar {
  padding: 2% 4%;
}

.navbar__toggle {
  border: none;
}

.navbar__toggle[aria-expanded=true] {
  transform: rotate(90deg);
}

.navbar,
.navbar__toggle[aria-expanded=true] ~ .navbar__menu,
.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar__toggle[aria-expanded=true] ~ .navbar__menu {
  flex-direction: column;
}

.navbar__toggle[aria-expanded=true] ~ .navbar__menu,
.contacts__list {
  inline-size: 100%;
  gap: 1rem;
}

.navbar__link,
.navbar__icon {
  color: inherit;
}

.navbar__link {
  position: relative;
}
.navbar__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 100%;
  block-size: 2px;
  background: #4361ee;
}
.navbar__link:hover:after, .navbar__link:focus:after {
  inline-size: 0;
}

.about {
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: center;
  gap: 2rem;
}

.about__photo {
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about h2 {
  font-size: clamp(2.25rem, 1.99rem + 1.13vw, 3rem);
  text-align: left;
  margin-inline: 0;
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.booking {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1.5rem;
}

.booking__form {
  inline-size: 100%;
  display: grid;
  place-items: center;
}

.booking__text,
.contact__text {
  text-align: center;
  inline-size: min(100%, 45ch);
  margin-inline: auto;
}

.map {
  inline-size: 100%;
  block-size: 100%;
  border: none;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  inline-size: max(290px, 30%);
  gap: 1rem;
}

.contact__form > * {
  flex: 1 1 150px;
}

.contact__form > .field:has(textarea) {
  flex: 2 2 290px;
}

.field__input--invalid {
  border-color: #ef233c;
}

.popup--success {
  border: 2px solid lightgreen;
}
.popup--success > .popup__message {
  color: lightgreen;
}

.popup--error {
  border: 2px solid #ef233c;
}
.popup--error > .popup__message {
  color: #ef233c;
}

@media only screen and (min-width: 48em) {
  section {
    padding-block: 2.87%;
  }
  .navbar {
    padding: 1.11% 4.44%;
  }
  .navbar__toggle {
    display: none;
  }
  .navbar__toggle[aria-expanded=true] ~ .navbar__menu {
    inline-size: -moz-max-content;
    inline-size: max-content;
    position: static;
    flex-direction: row;
    align-items: center;
  }
  .container {
    padding: 2.87% 11.31%;
  }
  .about {
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (min-width: 90em) {
  .about__photo {
    inline-size: auto;
    aspect-ratio: 1;
  }
  .about__story {
    max-inline-size: 45ch;
  }
}/*# sourceMappingURL=main.css.map */