@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Open+Sans:wght@400;500&display=swap');

:root {
	/* Colors */
	--white: #ffffff;
	--gray: #888888;
	--black: #161616;
	--blue: #4361ee;
	/* Font Sizing */
	/* 16.00px → 18.00px */
	--sm: clamp(1rem, calc(0.96rem + 0.19vw), 1.13rem);
	/* 24.00px → 32.00px  */
	--md: clamp(1.5rem, calc(1.32rem + 0.75vw), 2rem);
	/* 32.00px → 36.00px  */
	--lg: clamp(2rem, calc(1.91rem + 0.38vw), 2.25rem);
	/* 36.00px → 48.00px  */
	--xl: clamp(2.25rem, calc(1.99rem + 1.13vw), 3rem);
}

*,
*:after {
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: var(--sm);
	color: var(--black);
	margin: 0;
}

h1,
h2,
h3 {
	font-family: 'Cormorant Garamond', 'Garamond', serif;
}

p,
a,
input,
label,
button {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: var(--sm);
}

a {
	inline-size: max-content;
	display: block;
	text-decoration: none;
}

a,
a:after,
button,
.form__field {
	transition: all 0.2s ease-in-out;
}

button {
	background: transparent;
}

h1 {
	font-style: var(--xl);
}

h2 {
	font-size: var(--lg);
}

h3 {
	font-size: var(--md);
}

img {
	max-inline-size: 100%;
}

section:not(.about) {
	padding-block: 8.13%;
}

fieldset {
	border: none;
}

ul {
	list-style-type: none;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	align-items: center;
	background: var(--white);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.navbar__menu {
	display: none;
}

.navbar,
.contacts {
	padding: 2% 4%;
}

.navbar__brand {
	font-size: var(--md);
}

.navbar__toggle {
	border: none;
}

.navbar__toggle[aria-expanded='true'] {
	transform: rotate(90deg);
}

.navbar__icon {
	color: var(--black);
}

.navbar,
.navbar__toggle[aria-expanded='true'] ~ .navbar__menu,
.contacts__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.navbar__toggle[aria-expanded='true'] ~ .navbar__menu {
	flex-direction: column;
}

.navbar__toggle[aria-expanded='true'] ~ .navbar__menu,
.contacts__list {
	inline-size: 100%;
	gap: 1rem;
}

.navbar__link {
	position: relative;
	color: inherit;
}

.navbar__link:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	inline-size: 100%;
	block-size: 2px;
	background: var(--blue);
}

.navbar__link:hover:after,
.navbar__link:focus:after {
	inline-size: 0;
}

.button--outline {
	padding: 0.875rem 1.25rem;
	border: 2px solid var(--blue);
	color: var(--blue);
	font-weight: 500;
}

.button--outline:hover,
.button--outline:focus {
	background: var(--blue);
	color: var(--white);
}

.container {
	padding: 8.53% 10.6%;
}

.about {
	block-size: 100vh;
	display: flex;
	flex-wrap: wrap-reverse;
	align-content: center;
	gap: 2rem;
}

.about__photo {
	inline-size: 100%;
	object-fit: cover;
}

.about__story {
	block-size: max-content;
}

.about__title {
	font-size: var(--xl);
}

.text {
	max-inline-size: 100%;
	color: var(--gray);
	line-height: 1.5;
}

.pricing__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 2rem;
}

.pricing__title,
.contacts__title {
	text-align: center;
}

.coworking {
	inline-size: max-content;
	padding: 1.5rem;
	border: 2px solid var(--blue);
}

.coworking__type {
	margin-block-start: 0;
}

.coworking__photo {
	aspect-ratio: 1;
	object-fit: cover;
}

.coworking__price {
	margin-block-end: 0;
	color: var(--blue);
	font-weight: 500;
}

.form__legend {
	font-size: var(--sm);
	font-weight: 500;
}

.booking__title,
.booking__text {
	max-inline-size: 45ch;
	text-align: center;
	margin-inline: auto;
}

.booking__form {
	display: grid;
	place-items: center;
	gap: 1.125rem;
}

.form__field,
.form__radio {
	display: block;
	margin-block: 0.875rem;
}

.form__field {
	min-inline-size: 290px;
	padding: 1.125rem;
	border: 1px solid var(--gray);
}

.form__field:focus {
	border-color: var(--blue);
	outline-color: var(--blue);
}

.contacts__list {
	justify-content: center;
}

.contacts__link {
	color: var(--blue);
}

@media screen and (min-width: 48em) {
	section {
		padding-block: 2.87%;
	}

	.navbar,
	.contacts {
		padding: 1.11% 4.44%;
	}

	.navbar__toggle {
		display: none;
	}

	.navbar__toggle[aria-expanded='true'] ~ .navbar__menu {
		inline-size: max-content;
		position: static;
		flex-direction: row;
		align-items: center;
	}

	.container {
		padding: 2.87% 11.31%;
	}

	.about {
		justify-content: space-evenly;
		align-items: center;
	}
}

@media screen and (min-width: 90em) {
	.about__photo {
		inline-size: auto;
		aspect-ratio: 1;
	}

	.about__story {
		max-inline-size: 45ch;
	}
}
