.container {
	padding: 8.53% 10.6%;
}

.about {
	block-size: 100vh;
	display: flex;
	flex-wrap: wrap-reverse;
	align-content: center;
	gap: 2rem;
}

.about__photo {
	inline-size: 100%;
	object-fit: cover;
}

.about__story {
	block-size: max-content;
}

.about__title {
	font-size: var(--xl);
}

.text {
	max-inline-size: 100%;
	color: var(--gray);
	line-height: 1.5;
}