.form__legend {
  font-size: var(--sm);
  font-weight: 500;
}

.booking__text {
  max-inline-size: 45ch;
  text-align: center;
  margin-inline: auto;
}

.booking__form {
  display: grid;
  place-items: center;
  gap: 1.125rem;
}

.form__field,
.form__error {
  inline-size: 290px;
}

.form__field {
  display: block;
  margin-block: 0.25rem;
  padding: 1.125rem;
  border: 1px solid var(--gray);
}

.form__error {
  color: red;
}

/* STATES */

.form__field--invalid {
  border-color: red;
}

.form__field:focus {
  border-color: var(--blue);
  outline-color: var(--blue);
}
