
.navbar {
	position: fixed;
	inset: 0 0 auto;
	align-items: center;
	background: var(--white);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.navbar__menu {
	display: none;
}

.navbar,
.contacts {
	padding: 2% 4%;
}

.navbar__brand {
	font-size: var(--md);
}

.navbar__toggle {
	border: none;
}

.navbar__toggle[aria-expanded='true'] {
	transform: rotate(90deg);
}

.navbar,
.navbar__toggle[aria-expanded='true'] ~ .navbar__menu,
.contacts__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.navbar__toggle[aria-expanded='true'] ~ .navbar__menu {
	flex-direction: column;
}

.navbar__toggle[aria-expanded='true'] ~ .navbar__menu,
.contacts__list {
	inline-size: 100%;
	gap: 1rem;
}

.navbar__link,
.navbar__icon {
	color: inherit;
}

.navbar__link {
	position: relative;
}

.button--outline {
	padding: 0.875rem 1.25rem;
	border: 2px solid var(--blue);
	color: var(--blue);
	font-weight: 500;
}

/* STATES */

.navbar__link:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	inline-size: 100%;
	block-size: 2px;
	background: var(--blue);
}

.navbar__link:hover:after,
.navbar__link:focus:after {
	inline-size: 0;
}

.button--outline:hover,
.button--outline:focus {
	background: var(--blue);
	color: var(--white);
}