<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../sass/main.css" />
  <title>MyOffice</title>
</head>

<body>
  <header class="navbar">
    <h1><a href="/" class="navbar__brand">MyOffice</a></h1>
    <button class="navbar__toggle" aria-expanded="false" aria-controls="navbar-menu">
      <i class="fa-solid fa-bars navbar__icon fa-xl"></i>
    </button>
    <nav class="navbar__menu" id="navbar-menu" role="menu">
    </nav>
  </header>
  <main>
    <form action="" method="POST" class="form">
      <h2>Authenticate</h2>
      <div class="field">
        Email
        <input type="email" name="email" placeholder="example@gmail.com" class="field__input" />
        <p class="field__message"></p>
      </div>
      <div class="field">
        Password
        <input type="password" name="password" maxlength="16" class="field__input" />
        <p class="field__message"></p>
      </div>
      <div>
        <button type="submit" class="button--outline" id="btn-register">Sign Up</button>
        <button type="submit" class="button--outline" id="btn-login">Sign In</button>
      </div>
    </form>
  </main>
  <footer>
    <script src="../scripts/authentication.js" type="module"></script>
    <script src="../scripts/general.js" type="module"></script>
  </footer>
</body>

</html>